@import './mixin'

.stack > div 
  display none

  &.active
    display block


body
  position absolute
  top 0
  left 0
  right 0 
  bottom 0
  z-index 1
  
  overflow auto
  background-color #fff
  transition 0.3s, background-color


  &.drag-hover
    background-color #FF9